<style>
body {
  font-size: 32px;
  
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}
.error {color: #FF0000;}
body {
	background-color: lightgrey;
	text-align: center;
	font-size: 32px
	font-family: "Times New Roman", Times, serif;
	
}
div {
  border: 10px solid black;
  background-color: darkgrey;
  padding-top: 30px;
  padding-right: 10px;
  padding-bottom: 30px;
 padding-left: 10px;
}



</style>